# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\לימודים\שנה ב\סמסטר ד\נושאים מתקדמים\ATP-Project-PartA-E&T\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
